<head>
  <meta charset="UTF-8">
  <title>My study application</title>
</head>
<body>
<div class="login">
    {{> loginButtons align="right"}}
</div>

<div class="wrapper container-fluid">
  <div>
    {{> messages}}
  </div>
</div>
</body>

<template name="messages">
  <ul>
    {{#each messages}}
      {{>message}}
    {{/each}}
  </ul>
  <div class="container">
    <input type="text" class="form-control" placeholder="Text input" data-text>
  </div>
  <a href="#" class="btn btn-primary btn-lg btn-block" id="add">Add message</a>
</template>

<template name="message">
  <li>{{#if isSigned}}{{emailC}} : {{/if}}{{text}} {{#if owner}}<a href="#" data-remove-item id="{{_id}}"><i class="glyphicon glyphicon-trash"></i>Delete</a>{{/if}}</li>
</template>

